* {
    margin: 0;
    padding: 0;
}

/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');

body {
    font-family: 'Playwrite FR Moderne', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

